#public-app {
  width: 100vw;
  margin-top: 20vh;
  margin-left: 20vw;
}

#private-app {
  width: 100vw;
}

#private-app > main {
  margin: 0 10%;
}


#transaction-table tr {
  border: 2px solid #373D20;
}

#transaction-table th {
  text-align: left;
}
