@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,400&display=swap');


nav {
  padding: 20px;
}

nav a {
  font-size: 30px;
}

/* 
font-family: 'Roboto Mono', monospace; */
body {
  margin: 0;
  font-family: 'Roboto Mono', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFF1ED;
}

main {
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  color: #373D20;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  color: #766153;
}

p {
  font-size: 18px;
  color: #766153;
}

small {
  font-size: 14px;
  color: #766153;
  display: block;
}

a {
  font-size: 14px;
  color: #708399;
}

input:not([type='checkbox']) {
  padding: 10px;
  display: block;
  border: none;
  font-size: 14px;
  background-color: #EFF1ED;;
}

input::placeholder {
  font-style: italic;
}

button {
  font-family: 'Roboto Mono';
  padding: 10px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  background-color: #766153;
  color: #EFF1ED;
  border: none;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}